.serptrends-item::before {
    content: attr(data-rank) !important;
    font-size: smaller !important;
}

.serptrends-item>div {
    background-color: cornsilk !important;
    padding: 1rem !important;
}

.serp-rank::before {
    content: attr(data-rank) !important;
    position: absolute;
    margin-inline-start: -1rem;
    font-size: smaller !important;
}