
  body{
    
      background: #eee;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:#444;
      font-size: small;
        }
  .btn{
      display: inline-block;
      padding: 6px 12px;
      background:linear-gradient(transparent 50%,rgba(0,0,0,.15) 50%) #ddd;
      color:#222;
      border-radius: 4px;
      border: none;
      font-weight: bold;
      text-transform: uppercase;
    }
    .btn:hover{
      background-color: #c14e48;
      color: #fff;
      cursor: pointer;
    }
    .btn:active{
      background: #c14e48;
      color: #fff;
      text-shadow:0 -1px 0 #000;
    }
.btn:focus{
    outline:none;
    background-color: #c14e48;
      color: #fff;
}
    .btn-brand{
      background-color: #c14e48;
      color: #fff;
    }
    .btn-success{
        background-color: #5c5;
        color:#fff;
    }
    .btn-danger{
         background-color: #f33;
        color:#fff;
    }
      .btn-info{
         background-color: #55f;
        color:#fff;
    }
.form-control{
    padding:6px 10px;
    border: none;
    background: #ddd;
    border-radius: 4px;
    min-width: 200px;
}